<article>
  <header>
    <md-toolbar class="shady-toolbar" color="primary">
      <b>Тащим лайв с <a href="https://jaremko-pekach.firebaseio.com/.json?print=pretty">
        https://jaremko-pekach.firebaseio.com</a>
      </b>
    </md-toolbar>
  </header>
  <md-grid-list cols="4" rowHeight="6:5" gutterSize="1em">
    <md-grid-tile
      class="stream-card-container"
      *ngFor="let stream of streams$ | async | fmtStreams">

      <md-card class="stream-card">
        <md-card-header class="stream-card-head">
          <img md-card-avatar src="{{stream.logo}}" />
          <md-card-title>
            <span>{{stream.display_name || stream.slug}}</span>
          </md-card-title>
          <md-card-subtitle>{{stream.title}}</md-card-subtitle>
            <md-chip-list>
              <md-chip *ngIf="stream.online" color="primary" selected="true">Live!</md-chip>
              <md-chip>Category:<b>{{stream.category}}</b></md-chip>
            </md-chip-list>
        </md-card-header>
        <md-card-content class="stream-card-content">
          <a [routerLink]="'/stream/' + stream.slug">
          <img class="stream-card-thumb" src="{{stream.thumbnail}}" />
          </a>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</article>
