<md-card class="stream-card">
  <md-card-header class="stream-card-head">
    <img md-card-avatar [src]="logo" />
    <md-card-title>
      <span class="stream-card-name">{{ stream.displayName || stream.slug }}</span>
    </md-card-title>
    <md-card-subtitle>
      <span class="stream-card-title">{{ title }}</span>
    </md-card-subtitle>
  </md-card-header>
  <md-card-content class="stream-card-content">
    <a [routerLink]="'/stream/' + stream.slug">
      <img class="stream-card-thumb" [src]="thumbnail" [chFallback]="'/assets/img/pekatumb.jpg'" />
    </a>
    <md-chip-list class="stream-card-tags">
      <md-chip *ngIf="live" color="primary" selected="true">Live!</md-chip>
      <md-chip *ngIf="category" >Category:<b>"{{ category }}"</b></md-chip>
    </md-chip-list>
  </md-card-content>
</md-card>
