<content class="root-container" [ngClass]="[colorThemeClass]">
  <header>
    <md-toolbar  class="main-navbtn">
      <a md-button class="logo" routerLink="/">
      <img src="assets/img/peka.png"/> <span>Пека.ch</span>
      </a>
      <a  md-raised-button
        routerLink="/streams"
        color="primary">
        <md-icon>ondemand_video</md-icon> <span>Watch</span>
      </a>
      <a md-raised-button
        routerLink="/add-streams">
        <md-icon>add_box</md-icon> <span>Add new streams</span>
      </a>
      <span class="flex-spacer">
      </span>
      <md-button-toggle (click)="toggleColorTheme()">
        <md-icon>brightness_6</md-icon> <span></span>
      </md-button-toggle>
      <a md-raised-button
        class="main-navbtn"
        [mdMenuTriggerFor]="menu">
        <md-icon>account_box</md-icon> <span>Login</span>
        <md-menu #menu="mdMenu">
          <button md-menu-item disabled>
            <md-icon>accessibility</md-icon> <span>Нормальный аккаунт</span>
          </button>
          <button md-menu-item>
            <md-icon>people</md-icon> <span>Для белых людей</span>
          </button>
          <button md-menu-item>
            <md-icon>people_outline</md-icon> <span>Для не белых</span>
          </button>
          <button md-menu-item>
            <md-icon>accessible</md-icon> <span>Аккаунт для инвалидов</span>
          </button>
          <button md-menu-item>
            <md-icon>record_voice_over</md-icon> <span>Крикунов</span>
          </button>
          <button md-menu-item>
            <md-icon>pan_tool</md-icon> <span>Дрочунов</span>
          </button>
          <button md-menu-item>
            <md-icon>pregnant_woman</md-icon> <span>Жирных</span>
          </button>
          <button md-menu-item>
            <md-icon>pets</md-icon> <span>Я котик :grumpy:</span>
          </button>
          <button md-menu-item>
            <md-icon>wc</md-icon> <span>Туалет</span>
          </button>
          <button md-menu-item>
            <md-icon>sentiment_dissatisfied</md-icon> <span>Для тебя</span>
          </button>
        </md-menu>
      </a>
    </md-toolbar>
  </header>
  <router-outlet></router-outlet>
</content>
