<content class="root-container" [ngClass]="[colorThemeClass]">
  <header>
    <mat-toolbar  class="main-navbtn">
      <a mat-button class="logo" routerLink="/">
      <img src="assets/img/peka.png"/> <span>Пека.ch</span>
      </a>
      <a  mat-raised-button
        routerLink="/streams"
        color="primary">
        <mat-icon>ondemand_video</mat-icon> <span>Watch</span>
      </a>
      <a mat-raised-button
        routerLink="/add-streams">
        <mat-icon>add_box</mat-icon> <span>Add new streams</span>
      </a>
      <span class="flex-spacer">
      </span>
      <mat-button-toggle (click)="toggleColorTheme()">
        <mat-icon>brightness_6</mat-icon> <span></span>
      </mat-button-toggle>
      <a mat-raised-button
        class="main-navbtn"
        [matMenuTriggerFor]="menu">
        <mat-icon>account_box</mat-icon> <span>Login</span>
        <mat-menu #menu="matMenu">
          <button mat-menu-item disabled>
            <mat-icon>accessibility</mat-icon> <span>Нормальный аккаунт</span>
          </button>
          <button mat-menu-item>
            <mat-icon>people</mat-icon> <span>Для белых людей</span>
          </button>
          <button mat-menu-item>
            <mat-icon>people_outline</mat-icon> <span>Для не белых</span>
          </button>
          <button mat-menu-item>
            <mat-icon>accessible</mat-icon> <span>Аккаунт для инвалидов</span>
          </button>
          <button mat-menu-item>
            <mat-icon>record_voice_over</mat-icon> <span>Крикунов</span>
          </button>
          <button mat-menu-item>
            <mat-icon>pan_tool</mat-icon> <span>Дрочунов</span>
          </button>
          <button mat-menu-item>
            <mat-icon>pregnant_woman</mat-icon> <span>Жирных</span>
          </button>
          <button mat-menu-item>
            <mat-icon>pets</mat-icon> <span>Я котик :grumpy:</span>
          </button>
          <button mat-menu-item>
            <mat-icon>wc</mat-icon> <span>Туалет</span>
          </button>
          <button mat-menu-item>
            <mat-icon>sentiment_dissatisfied</mat-icon> <span>Для тебя</span>
          </button>
        </mat-menu>
      </a>
    </mat-toolbar>
  </header>
  <router-outlet></router-outlet>
</content>
